<template>
  <div :class="$vuetify.breakpoint.xs ? '' : 'about'">
    <v-container :class="$vuetify.breakpoint.xs ? '' : 'opac'">
      <v-row class="my-6">
        <Cardrow class="d-flex" :item="row1" />
      </v-row>
      <v-row class="my-6">
        <Cardrow class="d-flex flex-row-reverse justify-end text-left" :item="row2" />
      </v-row>
      <v-row class="my-6">
        <Cardrow class="d-flex" :item="row3" />
      </v-row>
    </v-container>
  </div>
</template>

<script>
import Cardrow from "@/components/CardRow.vue"
export default {
  components: {
    Cardrow,
  },
  data() {
    return {
      row1: {
        title: "A propos de nous",
        img: "fitness_woman_3.png",
        text: [{
          id: 1, para: "La salle de sport se veut proche de ses adhérents : elle est ouverte 7 jours sur 7, de 6 h à 23 h avec une présence à l'acceuil assurée tous les jours entre 8h-12h et 14h-19h. Pour répondre à ces besoins, le club dispose d’une équipe de 5 personnes dynamiques et à l’écoute."
        }, {
          id: 2, para: "Des programmes sportifs sur-mesure peuvent être mis en place à la demande. La taille de la salle est de 1200 m². Un grand plateau qui permet de disposer de différents univers mais aussi d’un espace cross-training, d’une plateforme vibrante SISMO, d’un espace détente avec distributeur de boissons YANGA, etc..."
        }]
      },
      row2: {
        title: "Nous contacter",
        img: "img3.png",
        text: [{
          id: 1, para: "Vous pouvez nous joindre par téléphone au 00 00 00 00 00. On vous répond du lundi au vendredi de 9h00 à 12h00 et de 14h00 à 17h00"
        }, {
          id: 2, para: "Une question ? Un truc à nous dire ? C'est <a href='/'>ici</a> que ça se passe. On vous répond au plus vite, que ça soit pour des infos sur la salle, les machines, les coachs ou tout autre renseignement"
        }]
      },
      row3: {
        title: "Où nous trouver",
        img: "map.jpg",
        text: [{
          id: 1, para: "25 rue du Temple"
        }, {
          id: 2, para: "07160 Le Cheylard"
        }]
      },
    }
  }
}
</script>
<style scoped>
.about {
  background-image: url(../assets/img/img.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.opac {
  opacity: 0.7;
}
</style>