<template>
    <v-main class="activities white--text">
        <div class="text-white my-16">
            <div id="debut">
                <h1 class="text-uppercase text-center">Activités</h1>
                <p class="text-h6 font-weight-regular ml-12 pl-12">
                    Chaque semaine, Planet Workout vous propose de nombreuses activités
                    variés afin de compléter vos entraînements.
                </p>
            </div>
        </div>
        <section class="mx-12">
            <v-row no-gutters class="mb-8">
                <v-col cols="12" sm="6" md="6" class="px-6">
                    <transition name="yoga">
                        <Cardrow
                            class="d-flex flex-row-reverse justify-end text-left card-hover bg-transparent move-ltr"
                            :item="row[0]"
                        />
                        <!-- <v-card class="pa-2" outlined tile>.col-12 .col-sm-6 .col-md-8</v-card> -->
                    </transition>
                </v-col>
                <v-col cols="12" md="6" class="px-6">
                    <Cardrow
                        class="d-flex flex-row-reverse justify-end text-left card-hover bg-transparent move-rtl"
                        :item="row[1]"
                    />
                    <!-- <v-card class="pa-2" outlined tile>.col-6 .col-md-4</v-card> -->
                </v-col>
            </v-row>
            <v-row no-gutters class="mb-8">
                <v-col cols="12" sm="6" md="6" class="px-6">
                    <Cardrow
                        class="d-flex flex-row-reverse justify-end text-left card-hover bg-transparent move-ltr"
                        :item="row[2]"
                    />
                    <!-- <v-card class="pa-2" outlined tile>.col-12 .col-sm-6 .col-md-8</v-card> -->
                </v-col>
                <v-col cols="12" md="6" class="px-6">
                    <Cardrow
                        class="d-flex flex-row-reverse justify-end text-left card-hover bg-transparent move-rtl"
                        :item="row[3]"
                    />
                    <!-- <v-card class="pa-2" outlined tile>.col-6 .col-md-4</v-card> -->
                </v-col>
            </v-row>
        </section>
    </v-main>
</template>

<script>
import Cardrow from "@/components/CardRow.vue"
export default {
    components: {
        Cardrow,
    }, data() {
        return {
            row: [{
                id: 0,
                title: "aquaponey",
                type: "sport aquatique",
                day: "lundi",
                img: "aqua.jpg",
                text: [{
                    id: 1, para: "Rien de mieux que la piscine pour démarrer en douceur sa reprise en main avec nos amis les poneys"
                }]
            }, {
                id: 2,
                title: "running",
                type: "en plein air",
                day: "samedi",
                img: "running_woman.png",
                text: [{
                    id: 1, para: "Courir c'est important, The Walking Dead nous l'a montré, soyez prêts..."
                }]
            }, {
                id: 3,
                title: "relaxation",
                type: "yoga",
                day: "mercredi",
                img: "logo_2.png",
                text: [{
                    id: 1, para: "Activité réservée aux retraités et vegan nourris au sans-gluten (ou toute espèce apparentée)"
                }]
            }, {
                id: 4,
                title: "cardio-boxe",
                type: "boxe",
                day: "vendredi",
                img: "boxing.jpg",
                text: [{
                    id: 1, para: "Car avoir des muscles c'est bien mais savoir les utiliser c'est mieux !"
                }]
            }],

        }
    }
}
</script>

<style scoped>
.activities {
    background: url(../assets/img/img5.png) no-repeat;
    background-position: center;
    background-size: cover;
    /* height: 100%; */
    max-width: inherit;
}
#debut {
    animation: 3s m-start;
}
.bg-transparent {
    background-color: transparent;
    color: white;
}
.card-hover:hover {
    transform: scale(1.02);
    background: rgb(34, 193, 255);
    background: linear-gradient(
        0deg,
        rgba(34, 193, 195, 1) 0%,
        rgba(165, 166, 209, 1) 100%
    );
    color: white;
}
.move-rtl {
    animation: 3s m-right;
}

.move-ltr {
    animation: 3s m-left;
}

@keyframes m-left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes m-right {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes m-start {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
</style>