<template>
    <v-container class="abonnement">
        <h1 class="ma-12">Découvrez nos offres d'abonnement</h1>
        <div class="d-flex justify-space-around flex-wrap pt-12">
            <Card v-for="(item,index) in 3" :key="index" :imageSrc="imageSrc[index]">{{ item }}</Card>
        </div>
    </v-container>
</template>

<script>
import Card from "@/components/Card.vue"
export default {
    components: {
        Card,
    },
    data() {
        return {
            imageSrc: [
                {
                    id: 0,
                    src: "basique.svg",
                    title: "basique",
                    tagline: "Profitez d'un accès ilimité !",
                    access: "Accès illimité à la salle",
                    description: [{
                        id: 1,
                        text: "1 cour collectif par mois offerte sur l'une des acctivités proposées"
                    }],
                    prix: "19.99€"

                },
                {
                    id: 1,
                    src: "confort.svg",
                    title: "confort",
                    tagline: "Profitez de nos coachs !",
                    access: "Accès illimité à la salle",
                    description: [{
                        id: 1,
                        text: "2 cours collectifs par mois offerte sur l'une des acctivités proposées"
                    }, {
                        id: 2,
                        text: "1 consultation avec un coach pour déterminer votre programme sportif"
                    }],
                    prix: "29.99€"

                },
                {
                    id: 2,
                    src: "premium.svg",
                    title: "premium",
                    tagline: "Profitez à fond de nos services !",
                    access: "Accès illimité à la salle",
                    description: [{
                        id: 1,
                        text: "4 cours collectifs par mois offerte sur l'une des activités proposées"
                    }, {
                        id: 2,
                        text: "1 consultation avec un coach pour déterminer votre programme sportif"
                    }, {
                        id: 3,
                        text: "Partagez votre compte avec une personne de votre choix lors de vos cours collectifs"
                    }],
                    prix: "49.99€",

                }
            ]
        }
    },
}
</script>

<style scoped>
.abonnement {
    background-image: url("../assets/img/img5.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    max-width: inherit;
}
h1 {
    font-family: "Permanent Marker", cursive !important;
    color: white;
}
</style>