<template>
  <div class="home">
    <div class="d-flex justify-center align-center my-12">
      <v-card :loading="loading" color="black">
        <template slot="progress">
          <v-progress-linear color="deep-purple" height="10" indeterminate></v-progress-linear>
        </template>

        <video class="card" src="../assets/img/Gym-Workout-Cinematic-Trailer.mp4" controls></video>
      </v-card>
    </div>
    <div class="d-flex flex-column">
      <v-row align="center" justify="space-around">
        <p
          class="text-font text-uppercase display-2 ma-2"
        >Come to the gym, to discover your origins !!!</p>
      </v-row>
      <v-row align="center" justify="space-around">
        <v-btn elevation="8" large to="/about" color="error">More</v-btn>
      </v-row>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  data() {
    return {
      loading: false,
      selection: 1,
    }
  },
  methods: {
    reserve() {
      this.loading = true
      setTimeout(() => (this.loading = false), 2000)
    },
  },
}
</script>

<style scoped>
.home {
  background-image: url("../assets/img/accueil.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.text-font {
  font-family: "Permanent Marker", cursive !important;
  transform: rotate(-2deg);
  color: white;
  text-shadow: 0 1px 35px, rgba(0, 0, 0, 0.875);
}
</style>