<template>
    <div class="mention_legales">
        <section>
            <h4>1. Mentions Légales</h4>
            <div>
                En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance
                dans l'économie numérique, il est précisé aux utilisateurs du site "PlanetWorkout.com/"
                l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi :
            </div>
            <div>
                <p>Propriétaire du site et responsable des publications :</p>
                <p>Mr Jean Dupond</p>
                <p>Gérant de la salle de sport Planet Workout</p>
                <p>Siret : 555 1234 5678 9012</p>
                <p>25 rue du Temple, 07160 Le Cheylard</p>
            </div>

            <div>
                <p>Création du site & Référencement :</p>
                <p>Simplon Labo-ve</p>
                <p>25 rue du Temple</p>
                <p>07160 Le Cheylard</p>
            </div>
        </section>
        <section>
            <h4>2. Conditions générales d’utilisation du site et des services proposés</h4>
            <div>
                L’utilisation du site "PlanetWorkout" implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs du site " PlanetWorkout.com " sont donc invités à les consulter de manière régulière.
                Ce site est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par " PlanetWorkout, salle de sport sur Le Cheylard - proche de valence, la garde ", qui s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention.
                Le site " PlanetWorkout “ est mis à jour régulièrement par Mr Dupond. De la même façon, les mentions légales peuvent être modifiées à tout moment : elles s’imposent néanmoins à l’utilisateur qui est invité à s’y référer le plus souvent possible afin d’en prendre connaissance.
            </div>
        </section>
        <section>
            <h4>3. Description des services fournis</h4>
            <div>
                Le site " PlanetWorkout.com " a pour objet de fournir une information concernant l’ensemble des activités de la salle de sport PlanetWorkout située sur la valette - proche de Toulon et de la garde ...
                Jean Dupond s’efforce de fournir sur le site " PlanetWorkout.com " des informations aussi précises que possible. Toutefois, il ne pourra être tenu responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.
                Tous les informations indiquées sur le site de la salle de sport PlanetWorkout.com sont données à titre indicatif, et sont susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur le site "PlanetWorkout" ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne.
            </div>
        </section>
        <section>
            <h4>4. Limitations contractuelles sur les données techniques</h4>
            <div>
                Le site utilise la technologie JavaScript.
                Le site Internet ne pourra être tenu responsable de dommages matériels liés à l’utilisation du site. De plus, l’utilisateur du site s’engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis-à-jour.
            </div>
        </section>
        <section>
            <h4>5. Propriété intellectuelle et contrefaçons</h4>
            <div>
                Jean Dupond est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons, logiciels.
                Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site - quel que soit le moyen ou le procédé utilisé - est interdite.
                Toute exploitation non autorisée du site ou de quelconque élément qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.
            </div>
        </section>
        <section>
            <h4>6. Limitations de responsabilité</h4>
            <div>
                Jean Dupond ne pourra être tenu responsable des dommages directs et indirects causés au matériel de l’utilisateur, lors de l’accès au site de la salle de sport- musculation PlanetWorkout, et résultant soit de l’utilisation d’un matériel ne répondant pas aux spécifications indiquées au point 4, soit de l’apparition d’un bug ou d’une incompatibilité.
                Jean Dupond ne pourra également être tenu responsable des dommages indirects (tels par exemple qu’une perte de marché) consécutifs à l’utilisation du site " PlanetWorkout.com ". Des espaces interactifs (possibilité de poser des questions dans l’espace contact) sont à la disposition des utilisateurs. Robert Turcan se réserve le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace qui contreviendrait à la législation applicable en France, en particulier aux dispositions relatives à la protection des données. Le cas échéant, Robert Turcan se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l’utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte, photographie…).
            </div>
        </section>
        <section>
            <h4>7. Gestion des données personnelles</h4>
            <div>
                En France, les données personnelles sont notamment protégées par la loi n° 78-87 du 6 janvier 1978, la loi n° 2004-801 du 6 août 2004, l'article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995.
                A l'occasion de l'utilisation du site PlanetWorkout.com peuvent être recueillies : l'URL des liens par l'intermédiaire desquels l'utilisateur a accédé, le fournisseur d'accès de l'utilisateur, l'adresse de protocole Internet (IP) de l'utilisateur.
                En tout état de cause Jean Dupond ne collecte des informations personnelles relatives à l'utilisateur que pour le besoin de certains services proposés par le site " PlanetWorkout.com ". L'utilisateur fournit ces informations en toute connaissance de cause, notamment lorsqu'il procède par lui-même à leur saisie. Il est alors précisé à l'utilisateur du site " otourdescollines.fr " l’obligation ou non de fournir ces informations.
                Conformément aux dispositions des articles 38 et suivants de la loi 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, tout utilisateur dispose d’un droit d’accès, de rectification et d’opposition aux données personnelles le concernant, en effectuant sa demande écrite et signée, accompagnée d’une copie du titre d’identité avec signature du titulaire de la pièce, en précisant l’adresse à laquelle la réponse doit être envoyée.
                Aucune information personnelle de l'utilisateur du site " PlanetWorkout.com " n'est publiée à l'insu de l'utilisateur, échangée, transférée, cédée ou vendue sur un support quelconque à des tiers. Seule l'hypothèse du rachat de la société de Robert Turcan et de ses droits permettrait la transmission des dites informations à l'éventuel acquéreur qui serait à son tour tenu de la même obligation de conservation et de modification des données vis à vis de l'utilisateur du site.
            </div>
        </section>
        <section>
            <h4>8. Liens hypertextes et cookies</h4>
            <div>
                Le site " PlanetWorkout.com " contient un certain nombre de liens hypertextes vers d’autres sites, mis en place avec l’autorisation de Jean Dupond. Cependant, le propriétaire n’a pas la possibilité de vérifier le contenu des sites ainsi visités, et n’assumera en conséquence aucune responsabilité de ce fait.
                La navigation sur le site " PlanetWorkout.com" est susceptible de provoquer l’installation de cookie(s) sur l’ordinateur de l’utilisateur. Un cookie est un fichier de petite taille, qui ne permet pas l’identification de l’utilisateur, mais qui enregistre des informations relatives à la navigation d’un ordinateur sur un site. Les données ainsi obtenues visent à faciliter la navigation ultérieure sur le site, et ont également vocation à permettre diverses mesures de fréquentation.
                Le refus d’installation d’un cookie peut entraîner l’impossibilité d’accéder à certains services. L’utilisateur peut toutefois configurer son ordinateur de la manière suivante, pour refuser l’installation des cookies :
                Sous Internet Explorer : onglet outil / options internet. Cliquez sur Confidentialité et choisissez Bloquer tous les cookies. Validez sur Ok.
                Sous Netscape : onglet édition / préférences. Cliquez sur Avancées et choisissez Désactiver les cookies. Validez sur Ok.
            </div>
        </section>
        <section>
            <h4>9. Droit applicable et attribution de juridiction</h4>
            <div>Tout litige en relation avec l’utilisation du site " PlanetWorkout.com " est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents du Var.</div>
        </section>
        <section>
            <h4>10. Les principales lois concernées</h4>
            <div>
                Loi n° 78-87 du 6 janvier 1978, notamment modifiée par la loi n° 2004-801 du 6 août 2004 relative à l'informatique, aux fichiers et aux libertés.
                Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique.
            </div>
        </section>
        <section>
            <h4>11. Lexique</h4>
            <div>
                Utilisateur : Internaute se connectant, utilisant le site susnommé.
                Informations personnelles : « les informations qui permettent, sous quelque forme que ce soit, directement ou non, l'identification des personnes physiques auxquelles elles s'appliquent » (article 4 de la loi n° 78-17 du 6 janvier 1978).
            </div>
        </section>
    </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.mention_legales {
    margin: auto 5rem;
    text-align: justify;
}

.mention_legales h4 {
    padding: 0.5rem;
}
</style>