<template>
    <div>
        <v-card class="my-4" max-width="374" elevation="8" shaped :class="imageSrc.title">
            <div class="box-container">
                <v-img :src="require(`@/assets/img/${imageSrc.src}`)" aspect-ratio="2" contain></v-img>
                <v-card-title class="justify-center mt-8 text-uppercase">{{ imageSrc.title }}</v-card-title>

                <v-card-title class="justify-space-around">{{ imageSrc.tagline }}</v-card-title>

                <v-card-text>
                    <div v-for="(item,index) in imageSrc.description" :key="index">
                        <p>
                            {{ item.text }}
                            <v-btn to="/" plain color="primary">ici</v-btn>
                        </p>
                    </div>
                </v-card-text>
            </div>
            <v-card-text class="box selected">
                <v-chip-group active-class="deep-purple accent-4 white--text" center-active>
                    <v-chip>{{ imageSrc.prix }}</v-chip>
                </v-chip-group>
            </v-card-text>
        </v-card>
    </div>
</template>

  <script>
export default {
    props: ['imageSrc'],
}
</script>

<style scoped>
.box-container {
    height: 600px;
}
.box {
    display: flex;
    justify-content: center;
}
.box .selected {
    align-self: center;
}
.premium {
    background: radial-gradient(
        circle,
        rgba(251, 247, 0, 1),
        rgba(235, 184, 45, 1)
    );
}
</style>