<template>
    <v-card :class="$vuetify.breakpoint.xs ? 'flex-column' : ''" width="100%">
        <v-img
            :class="$vuetify.breakpoint.xs ? '' : 'ma-4 fifty'"
            :min-width="$vuetify.breakpoint.xs ? '100%' : '50%'"
            :max-width="$vuetify.breakpoint.xs ? '100%' : '50%'"
            :src="require(`@/assets/img/${item.img}`)"
            :height="item.type ? '240' : '340'"
        >
            <!-- class="white--text align-end" -->
            <!-- <v-card-title>Top 10 Australian beaches</v-card-title> -->
        </v-img>

        <div>
            <v-card-text v-if="item.type">
                <div v-if="item.type">
                    <strong class="primary--text text-capitalize font-weight-medium">{{ item.type }}</strong>
                    <!-- :class="$vuetify.breakpoint.xs ? 'text-h4' : 'text-h4 white--text'" -->
                </div>
            </v-card-text>
            <v-card-title class="py-0">
                <div>
                    <p class="text-h4 text-capitalize">{{ item.title }}</p>
                    <!-- :class="$vuetify.breakpoint.xs ? 'text-h4' : 'text-h4 white--text'" -->
                </div>
            </v-card-title>
            <!-- <v-card-text v-if="item.day"> -->
            <div v-if="item.day">
                <p class="pl-4 text-capitalize font-weight-medium">{{ item.day }}</p>
                <!-- :class="$vuetify.breakpoint.xs ? 'text-h4' : 'text-h4 white--text'" -->
            </div>
            <!-- </v-card-text> -->
            <v-card-text>
                <!-- :class="$vuetify.breakpoint.xs ? '' : 'white--text'" -->
                <div v-for="(text,index) in item.text" :key="index">
                    <p class="ma-0" v-html="text.para"></p>
                </div>
            </v-card-text>
        </div>
    </v-card>
</template>

<script>
export default {
    props: ['item'],
}
</script>

<style scoped>
</style>