<template>
    <v-footer padless inset>
        <v-col class="text-center black lighten-2 white--text" cols="12">
            {{ new Date().getFullYear() }} —
            <strong>©Planet Workout</strong>
        </v-col>
    </v-footer>
</template>

<script>
export default {

}
</script>

<style scoped>
</style>