<template>
    <div>
        <v-app-bar color="deep-purple">
            <v-btn icon to="/">
                <v-img src="../assets/img/logo.png"></v-img>
            </v-btn>
            <v-toolbar-title v-text="title" />

            <v-spacer />
            <v-toolbar-items>
                <v-btn
                    class="mx-4"
                    elevation="0"
                    color="transparent"
                    v-for="link in links"
                    :key="link.name"
                    :to="link.to"
                >{{ link.name }}</v-btn>
            </v-toolbar-items>
            <v-menu bottom left offset-y>
                <template v-slot:activator="{ on, attrs }">
                    <v-btn icon v-bind="attrs" v-on="on">
                        <v-icon>mdi-dots-vertical</v-icon>
                    </v-btn>
                </template>

                <v-list>
                    <v-list-item v-for="(item, i) in linksAdd" :key="i" :to="item.to">
                        <v-list-item-title>{{ item.name }}</v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-menu>
        </v-app-bar>
    </div>
</template>

<script>
export default {
    data() {
        return {
            title: 'Planet workout',
            links: [{ name: 'Home', to: '/' }, { name: 'Formule', to: '/formule' }, { name: 'Activite', to: '/activite' }],
            linksAdd: [{ name: 'Blog', to: '/blog' }, { name: 'Contact', to: '/contact' }, { name: 'About', to: '/about' }, { name: 'Mentions', to: '/mentions' },]
        }
    }
};
</script>

<style scoped>
</style>
