<template>
  <v-app>
    <Header />
    <router-view></router-view>
    <Footer />
  </v-app>
</template>

<script>
import Header from '@/components/Header.vue';
import Footer from '@/components/Footer.vue';

export default {
  name: 'App',

  components: {
    Header, Footer
  },

  data: () => ({
    //
  }),
};
</script>
<style>
h1 {
  font-family: "Permanent Marker", cursive !important;
  margin: 0.67em 0;
  font-size: 2em;
}
</style>